%section#blog.section
  .container
    %h4 Our Blog
    / Three columns
    .row
      .span3
        .home-post
          .post-image
            %img.max-img{:alt => "", :src => asset_url("blog/img1.jpg") }/
          .post-meta
            %i.icon-file.icon-2x
            %span.date June 19, 2013
            %span.tags
              %a{:href => "#"}> Design
              ,
              %a{:href => "#"} Blog
          .entry-content
            %h5
              %strong
                %a{:href => "#"} New design trends
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. …
            %a.more{:href => "#"} Read more
      .span3
        .home-post
          .post-image
            %img.max-img{:alt => "", :src => asset_url("blog/img2.jpg") }/
          .post-meta
            %i.icon-file.icon-2x
            %span.date June 19, 2013
            %span.tags
              %a{:href => "#"}> Design
              ,
              %a{:href => "#"} News
          .entry-content
            %h5
              %strong
                %a{:href => "#"} Retro is great
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. …
            %a.more{:href => "#"} Read more
      .span3
        .home-post
          .post-image
            %img.max-img{:alt => "", :src => asset_url("blog/img3.jpg") }/
          .post-meta
            %i.icon-file.icon-2x
            %span.date June 22, 2013
            %span.tags
              %a{:href => "#"}> Design
              ,
              %a{:href => "#"} Tips
          .entry-content
            %h5
              %strong
                %a{:href => "#"} Isometric mockup
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. …
            %a.more{:href => "#"} Read more
      .span3
        .home-post
          .post-image
            %img.max-img{:alt => "", :src => asset_url("blog/img4.jpg") }/
          .post-meta
            %i.icon-file.icon-2x
            %span.date June 27, 2013
            %span.tags
              %a{:href => "#"}> News
              ,
              %a{:href => "#"} Tutorial
          .entry-content
            %h5
              %strong
                %a{:href => "#"} Free icon set
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. …
            %a.more{:href => "#"} Read more
    .blankdivider30
    .aligncenter
      %a.btn.btn-large.btn-theme{:href => "#"} More blog post
/ end spacer section
