%section.spacer.bg3
  .container
    .row
      .span12.aligncenter.flyLeft
        %blockquote.large
          We are an established and trusted web agency with a reputation for commitment and high integrity
      .span12.aligncenter.flyRight
        %i.icon-rocket.icon-10x
