%section#contact.section.green
  .container
    %h4 Get in Touch
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper ultrices tempor. Fusce dignissim porta nibh, quis dapibus lectus ornare nec. Phasellus et nisl a enim tincidunt tristique. Duis et ligula nec ipsum maximus ultrices eu nec diam. Aenean tempor quam interdum blandit pulvinar. 
    .blankdivider30
    .row
      .span12
        #contact-form.cform
          #sendmessage Your message has been sent. Thank you!
          #errormessage
          %form.contactForm{:action => "", :method => "post", :role => "form"}
            .row
              .span6
                .field.your-name.form-group
                  %input#name.form-control{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
                  .validation
                .field.your-email.form-group
                  %input#email.form-control{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "text"}/
                  .validation
                .field.subject.form-group
                  %input#subject.form-control{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
                  .validation
              .span6
                .field.message.form-group
                  %textarea.form-control{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
                  .validation
                %input.btn.btn-theme.pull-left{:type => "submit", :value => "Send message"}/
      / ./span12
