%section.spacer.green
  .container
    .row
      .span6.alignright.flyLeft
        %blockquote.large
          = @welcome_message
          %cite Elton Musk, SpaceX
      .span6.aligncenter.flyRight
        %i.icon-trophy.icon-10x
