%section#about.section
  .container
    %h4 Who We Are
    .row
      .span4.offset1
        %div
          %h2
            We build
            %br
            %strong creative
            stuffs
          %p
            You have the right team! There are dozens of big web development companies, but we have young and clever minds to deal with your needs to continously "boom" in this modern world. We craft ideas and transform them into awesome apps.
      .span6
        .aligncenter
          = image_tag "icons/creativity.png"
    .row
      .span2.offset1.flyIn
        .people
          %img.team-thumb.img-circle{:alt => "", :src => asset_url("team/img-1.jpg") }/
          %h3 Cody K.
          %p
            Art director
      .span2.flyIn
        .people
          %img.team-thumb.img-circle{:alt => "", :src => asset_url("team/img-2.jpg") }/
          %h3 Charles D.
          %p
            Web developer
      .span2.flyIn
        .people
          %img.team-thumb.img-circle{:alt => "", :src => asset_url("team/img-3.jpg") }/
          %h3 Katchi Z.
          %p
            Web designer
      .span2.flyIn
        .people
          %img.team-thumb.img-circle{:alt => "", :src => asset_url("team/img-4.jpg") }/
          %h3 Mark J.
          %p
            UI designer
      .span2.flyIn
        .people
          %img.team-thumb.img-circle{:alt => "", :src => asset_url("team/img-5.jpg") }/
          %h3 Kyle B.
          %p
            Digital imaging
