.navbar .brand a:hover {
 transition: none;
 -webkit-transition: none;
 -moz-transition: none;
}
.navbar .brand a:focus {
  outline: none;
}
.navbar-inner {
  min-height: 4.75em;
}
.navbar-inverse .navbar-inner {
  background: none;
  transition-duration: 1s;
  border-bottom: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul#menu-main > li > a {
  text-transform: none;
}

ul#menu-main > li > a:hover {
  color: #0b333f;
}

#main-flexslider ul.slides li p {
	color:#022648;
}
.flex-direction-nav li a {
	color:#0b333f;
}
.flex-direction-nav li a:hover {
	color:#0b333f;
}
.spacer.green {
    background: #9ad1b4;
}
.section.green {
    background: #022648;
    background-image: url(footer-map.png);
}
.section.orange {
    background: #f5907c;
}
section#services.section.orange .service-box:hover {
	background:#f5907c;
}

.services-icon {
  background-image: url('services-icons.png');
  width: 85px;
  height: 85px;
  margin: auto;
}
.services-icon.seo {
  background-position: 0 0;
}
.services-icon.e-commerce {
  background-position: -86px 0;
}
.services-icon.seo2 {
  background-position: -172px 0;
}
.services-icon.startup {
  background-position: -258px 0;
}
.services-icon.responsive {
  background-position: 0 -86px;
}
.services-icon.mobile {
  background-position: -86px -86px;
}
.services-icon.web-design {
  background-position: -172px -86px;
}
.services-icon.video {
  background-position: -258px -86px;
}
.services-icon.photography {
  background-position: 0 -172px;
}
.services-icon.web-dev {
  background-position: -86px -172px;
}
.services-icon.e-commerce {
  background-position: -172px -172px;
}
.services-icon.startup2 {
  background-position: -258px -172px;
}
.services-icon.video-editing {
  background-position: 0 -258px;
}
.services-icon.blogging {
  background-position: -86px -258px;
}
.header-video {
  height: 100vh;
}
video {
  position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	/*transform: translateX(-50%) translateY(-50%);*/
	background-size: cover;
	transition: 1s opacity;
}
.header-video .content{
  padding-top: 100px;
}

.fill1 {
  background: #444 asset_url("bg/bg-1.jpeg") no-repeat center center fixed;
}
.fill2 {
  background: #444 asset_url("bg/bg-2.jpeg") no-repeat center center fixed;
}
.fill3 {
  background: #444 asset_url("bg/bg-3.jpeg") no-repeat center center fixed;
}
